body{ 
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Tinggi minimal seukuran layar penuh */
    display: flex;
    justify-content: center;
    align-items: center;

    /* GRADIENT BACKGROUND */
    background: linear-gradient(120deg, #7EE8A0, #6BC4E8, #6A8DFF);
    background-size: cover;
    background-repeat: no-repeat;
}

/* warna hijau jika status todolist selesai */
.status-selesai{ 
    background:#2ecc71;
    color:white;
    padding:3px 8px;
    border-radius:5px;
    display:inline-block;
}

/* warna merah jika status todolist pending */
.status-pending{
    background:#e74c3c;
    color:white;
    padding:3px 8px;
    border-radius:5px;
    display:inline-block;
}

/*  Kotak atau kamar dalam todolist  */
.container { 
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* garis bawah pada header todolist */
h2 { border-bottom: 2px solid #333; padding-bottom: 10px; }

/* jarak pada tombol tambah dan line bottom */
form { margin-bottom: 20px; }

/* visual garis / tabel pada deskripsi dan judul */
input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

/* visual pada tombol tambah dan hapus */
button {
    background-color: #2c3e50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* visual pada tombol tambah dan hapus jika ada kursor */
button:hover { background-color: #34495e; }

/* visual pada list todolist */
ul { list-style: none; padding: 0; }
li {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

/* visual pada tombol edit */
.btn-edit { color: #2980b9; text-decoration: none; margin-right: 10px; }

